@charset "UTF-8";

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}


html, body {
	height: 100%;
}

.bg_board {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40%;
	background-image: url("../img/board.jpg");
	background-size: 100%;
}

.head {
	font-family: 'GangwonState';
	font-size: 30pt;
	top: 150px;
	left: 80px;
	position: absolute;
	font-stretch: ultra-condensed;
	color: white;
}

input {
	width: 200px;
	height: 23px;
	border-color: #EC87C0;
	border-width: 1px;
	border-radius: 1px;
}

.btn {
	margin: 0 auto;
	width: 1000px;
	height: 80px;
	right: 0;
	text-align: right;
}

table {
	clear: both;
	font-family: 'SUIT-Regular';
	margin: 0 auto;
	width: 1000px;
	height: auto;
	border-top: 2px solid #616161;
	border-collapse: collapse; 
}

th {
	border-bottom: 1px solid #BDBDBD;
	font-weight: 900;
	border-top: thick;
	background-color: #F5F5F5;
	height: 40px;
}

td {
	border-bottom: 1px solid #BDBDBD;
	height: 38px;
}

.title {
	width: 50%;
	text-align: left;
	padding-left: 10px;
}

.td1 {
	text-align: center;
}

.td2 {
	width: 25%;
	text-align: center;
}

.board_list:hover {
	background-color: #E0E0E0;
	font-weight: bold;
	cursor: pointer;
}

img:hover {
	cursor: pointer;
}

.list1 {
	color: black;
}

.page {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	
}

img {
	width: 20px;
	vertical-align: middle;
}

.page a, strong {
	display: block;
	margin: 0 2px;
	float: left;
	/* border: 1px solid #e6e6e6; */
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	color: #757575;
	margin-right: 10px;
}

.page a:hover {
    color: #EC87C0;
}

strong {
    font-weight: bolder;
    color: #EC87C0;
    cursor: pointer;
}

.block1 {
	clear:both;
	width: 100%;
	height: 300px;
}