@charset "UTF-8";

.title{
	width: 100%;
	height: 50px;
	font-size: large;
}

.name-bar{
	width: 100%;
	border-bottom: 1px solid black;
	min-height: 50px;
	padding: 20px;
	box-sizing: border-box;
}

.name, .like, .date, .ip{
	width: 50%;
	
}