@charset "UTF-8";
@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GangwonState';
	text-transform: uppercase;
}

.block {
	width: 100%;
	height: 100px;
}

.box{
width: 100%;
height: 100%;
	}

.bg-img1 {
	width: 60%;
	height: 30%;
	float: left;
}

.img1 {
	width: 80%;
	height: 60%;
}

.text {
	width: 30%;
	float: left;
	padding: 100px 30px;
	text-align: left;
	font-size: 120%;
	overflow: hidden;
}

.bg-img2 {
	padding: 50 0 0 0px;
	width: 40%;
	height: 10%;
	float: left;
}

.img2 {
	width: 60%;
	height: 60%;
}

.block1 {
	clear:both;
	width: 100%;
	height: 300px;
}
