@charset "UTF-8";

body {
	font-family: 'GangwonState';
	height: 100%;
}

.join {
	margin: 0 auto;
	width: 700px;
	height: 1000px;
}

.join h1 {
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

.text {
	font-size: 13pt;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 70px;
	color: #EC87C0;
}

.title {
	margin: 0 auto;
	align-content: center;
	margin-left: 80px;
}

input {
	width: 500px;
	height: 40px;
	border: 1px solid black;
	margin-top: 10px;
}