@charset "UTF-8";
@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: black;
}

nav{
	top: 0;
	text-transform: uppercase;
	box-sizing: border-box;
	font-family: 'GangwonState';
	background-color: black;
}

.header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	position: fixed;
}

.chxx {
	width: 25%;
	float: left;
	font-size: 18pt;
	padding-left: 50px;
	text-align: left;
	line-height: 80px;
	box-sizing: border-box;
}

.list {
	float: right;
	width: 65%;
	height: 80px;
	padding-right: 50px;
	line-height: 60px;
}

.list ul{
	maring: 0;
	padding: 0;
	float: right;
	height: 80px;
}

.list li {
	list-style: none; /* li앞에 원을 없애줍니다. */
	float: left;
	text-align: center;
	width: 100px;
	height: 80px;
	margin-top: -12px;
}

a:hover {
	color: #EC87C0;
	cursor: pointer;
}

.list li:hover {
	color: #EC87C0;
	cursor: pointer;
}

img {
	vertical-align: middle;
}

