@charset "UTF-8";
@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: #EC87C0;
}

nav{
	top: 0;
	box-sizing: border-box;
	font-family: 'GangwonState';
	background-color: black;
}

.header {
	width: 100%;
	height: 80px;
	position: fixed;
	overflow: hidden;
}

.head_left {
	float: left;
	width: 15%;
	height: 80px;
	display: flex;
	justify-content: center; 
	align-items : center;
	font-size: 18pt;
	padding-left: 5px;
	line-height: 80px;
	overflow: hidden;
	padding-left: 20px;
}

.head_center {
	float: left;
	width: 60%;
	display: flex;
	justify-content: center; 
	align-items : center;
	height: 80px;
	font-size: 13.5pt;
	overflow: hidden;
}

.head_center ul{
	margin: 0;
	padding: 0;
	height: 80px;
	text-align: center;
	list-style: none;  
}

.head_center li {
	margin: 0;
	padding: 0;
	list-style: none; /* li앞에 원을 없애줍니다. */
	float: left;
	text-align: center;
	width: 100px;
	height: 80px;
	line-height: 80px;
	display: inline;
	padding: 0px 10px 0px 10px;   
}

.head_right {
	padding: 0;
	margin: 0;
	width: 20%;
	line-height: 80px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head_right li {
	list-style-type: none;
}

a:hover {
	color: #EC87C0;
	cursor: pointer;
}

.head_center li:hover {
	color: #EC87C0;
	cursor: pointer;
}

.box_id:hover, .box_login:hover, .box_logout:hover {
	color: #EC87C0;
	cursor: pointer;
}

img {
	vertical-align: middle;
}
